<h1 class="text-center">votre panier</h1>


<p-dataView #dv [value]="productsInCart()">
    <ng-template pTemplate="list" let-productsInCart>
        @for (product of productsInCart; track product) {
            <p-card class="block mb-2">
                <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                <p-rating [(ngModel)]="product.rating" [readonly]="true" />
                <p class="m-0">
                    {{ product.description }}
                </p>

                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                    </div>
                </ng-template>

                <div class="box">
                    <div class="push"> <span class="text-xl font-semibold">{{
                        product.price | currency
                    }}</span>

                    </div>
                </div>
            </p-card>
        }
    </ng-template>
</p-dataView>
